.elementor-704 .elementor-element.elementor-element-f481aaf>.elementor-container {
    max-width: 1275px;
}

.elementor-704 .elementor-element.elementor-element-f481aaf>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-704 .elementor-element.elementor-element-f481aaf {
    padding: 120px 0px 50px 0px;
}

.elementor-704 .elementor-element.elementor-element-9b49111>.elementor-element-populated {
    margin: 0px 0px 0px 100px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 100px;
}

.elementor-704 .elementor-element.elementor-element-c8de01e .prthalign {
    text-align: left;
}

.elementor-704 .elementor-element.elementor-element-c8de01e .elementor-gt-heading {
    line-height: 1.09;
}

.elementor-704 .elementor-element.elementor-element-c8de01e>.elementor-widget-container {
    margin: 0px 0px -18px 0px;
}

.elementor-704 .elementor-element.elementor-element-705393c>.elementor-widget-container {
    padding: 15px 0px 15px 0px;
}

.elementor-704 .elementor-element.elementor-element-9dc33ea>.elementor-container {
    max-width: 1275px;
}

.elementor-704 .elementor-element.elementor-element-9dc33ea {
    overflow: hidden;
    padding: 50px 0px 120px 0px;
}

.elementor-704 .elementor-element.elementor-element-8f5585f .prthalign {
    text-align: center;
}

.elementor-704 .elementor-element.elementor-element-8f5585f .elementor-gt-heading {
    line-height: 1.09;
}

.elementor-704 .elementor-element.elementor-element-8f5585f>.elementor-widget-container {
    margin: 0px 0px -18px 0px;
}

.elementor-704 .elementor-element.elementor-element-f03cf62 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 50px 0px;
}

.elementor-704 .elementor-element.elementor-element-f03cf62>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-704 .elementor-element.elementor-element-2d6d76a .prthalign {
    text-align: center;
}

.elementor-704 .elementor-element.elementor-element-9a0d93e>.elementor-container {
    max-width: 1275px;
}

.elementor-704 .elementor-element.elementor-element-9a0d93e {
    padding: 0px 0px 100px 0px;
}

.elementor-704 .elementor-element.elementor-element-e22f91b .prthalign {
    text-align: center;
}

.elementor-704 .elementor-element.elementor-element-e22f91b .elementor-gt-heading {
    line-height: 1.09;
}

.elementor-704 .elementor-element.elementor-element-e22f91b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-704 .elementor-element.elementor-element-47f2fbe>.elementor-container {
    max-width: 1275px;
}

/* .elementor-704 .elementor-element.elementor-element-47f2fbe:not(.elementor-motion-effects-element-type-background),
.elementor-704 .elementor-element.elementor-element-47f2fbe>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://themexriver.com/wp/kadu/wp-content/uploads/2024/06/p1-bg-3.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.elementor-704 .elementor-element.elementor-element-47f2fbe {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 0px 0px;
}

.elementor-704 .elementor-element.elementor-element-47f2fbe>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-704 .elementor-element.elementor-element-41f1d73 .prthalign {
    text-align: center;
}

.elementor-704 .elementor-element.elementor-element-41f1d73 .elementor-gt-heading {
    line-height: 1.09;
}

.elementor-704 .elementor-element.elementor-element-41f1d73>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-704 .elementor-element.elementor-element-33052f5>.elementor-container {
    max-width: 1275px;
}

.elementor-704 .elementor-element.elementor-element-33052f5 {
    margin-top: -80px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-704 .elementor-element.elementor-element-2bc60d4>.elementor-container {
    max-width: 1275px;
}

.elementor-704 .elementor-element.elementor-element-2bc60d4 {
    padding: 70px 0px 90px 0px;
}

.elementor-704 .elementor-element.elementor-element-5f7e81b .prthalign {
    text-align: center;
}

.elementor-704 .elementor-element.elementor-element-5f7e81b .elementor-gt-heading {
    line-height: 1.09;
}

.elementor-704 .elementor-element.elementor-element-5f7e81b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-704 .elementor-element.elementor-element-b1be678>.elementor-container {
    max-width: 1275px;
}

.elementor-704 .elementor-element.elementor-element-b1be678>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-704 .elementor-element.elementor-element-b1be678 {
    padding: 70px 0px 100px 0px;
}

.elementor-704 .elementor-element.elementor-element-61fd7fa .prthalign {
    text-align: left;
}

.elementor-704 .elementor-element.elementor-element-61fd7fa .elementor-gt-heading {
    line-height: 1.09;
}

.elementor-704 .elementor-element.elementor-element-61fd7fa>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-704 .elementor-element.elementor-element-4e9a89a>.elementor-container {
    max-width: 1275px;
}

.elementor-704 .elementor-element.elementor-element-4e9a89a:not(.elementor-motion-effects-element-type-background),
.elementor-704 .elementor-element.elementor-element-4e9a89a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("assets/img/head_img/campuslifebg.png");
}

.elementor-704 .elementor-element.elementor-element-4e9a89a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 50px 0px;
}

.elementor-704 .elementor-element.elementor-element-4e9a89a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-704 .elementor-element.elementor-element-73ddf5b>.elementor-container {
    max-width: 1275px;
}

.elementor-704 .elementor-element.elementor-element-73ddf5b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-704 .elementor-element.elementor-element-73ddf5b {
    padding: 130px 0px 85px 0px;
}

.elementor-704 .elementor-element.elementor-element-9b99bef .prthalign {
    text-align: left;
}

.elementor-704 .elementor-element.elementor-element-9b99bef .elementor-gt-heading {
    line-height: 1.09;
}

.elementor-704 .elementor-element.elementor-element-9b99bef>.elementor-widget-container {
    margin: 0px 0px -18px 0px;
}

@media(max-width:1024px) {
    .elementor-704 .elementor-element.elementor-element-9b49111>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-704 .elementor-element.elementor-element-9b99bef>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-704 .elementor-element.elementor-element-968af55 {
        width: 100%;
    }

    .elementor-704 .elementor-element.elementor-element-9b49111 {
        width: 100%;
    }

    .elementor-704 .elementor-element.elementor-element-1a437d8 {
        width: 100%;
    }

    .elementor-704 .elementor-element.elementor-element-d6fbc32 {
        width: 50%;
    }

    .elementor-704 .elementor-element.elementor-element-968862e {
        width: 50%;
    }

    .elementor-704 .elementor-element.elementor-element-25b6df4 {
        width: 100%;
    }

    .elementor-704 .elementor-element.elementor-element-740692d {
        width: 100%;
    }
}